!!! 5
html 
    head 
        title= title 
        link(rel='stylesheet', href='css/bootstrap.css') 
        link(rel='stylesheet', href='css/bootstrap-responsive.css')
        script(src='js/jquery-1.7.1.min.js')
        script(src='js/bootstrap.min.js')   
        script(src='js/d3/d3.v2.js')
        script(src='js/jcanvas.min.js')
        script(src='bin-packing/js/packer.growing.js')
        script(src='js/experiment-binPacking.js')
        script
            $(document).ready(function() {
                d3.json('getAveragedHours', function(json){
                    stackedBoxes(json.meterData);
                });
            });


    body 
        div.navbar 
            div.navbar-inner
                div.container 
                    a(href='#').brand #{title} 
                    div.nav-collapse
                        ul.nav 
                            li.active 
                                a(href='#') Home 

        | <canvas width='1024' height='400'</canvas>
        div.controls
            button Button


